.err{
	color:red;
	}
body {
	background-image:url("shattered.png");
	background-repeat:repeat;
	background-position:center top;
	}
.table{
	float:left;
	text-align:center;
	margin-top:82px;
	margin-left:10px;
	width:178px;
	border-style:double;
	border-color:#80b5ea;
	border-spacing:5px;	
	}
tr.top td{
	border-style:double;
	border-color:#0066FF;
	}
#table_users{
	float:right;
	border-color:#80b5ea;
	text-align:left;
	border-style:solid;
	margin-top:82px;
	border-collapse:collapse;
	border-width:2px;
	margin-left:50px;
	}
.tr_users td{
	width:100px;
	border-style:solid;
	border-width:2px;
	border-color:#80b5ea;
	}
#navtable{
	float:left;
	}
#testtable{
	float:left;
	}
#table_test{
	float:right;
	border-color:#80b5ea;
	text-align:left;
	border-style:solid;
	margin-top:82px;
	border-collapse:collapse;
	border-width:2px;
	margin-left:50px;
	}
.tbl_test td{
	border-style:solid;
	border-width:2px;
	border-color:#80b5ea;
	}
#create_table_test{
	float:right;
	border-color:#80b5ea;
	text-align:left;
	border-style:solid;
	margin-top:82px;
	border-collapse:collapse;
	border-width:2px;
	margin-left:50px;
	}
#create_table{
float:left;
}
#results {
float:right;
}
.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #d0e6fa;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d0e6fa;
	box-shadow:inset 0px 1px 0px 0px #d0e6fa;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0066FF), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:153px;
	text-decoration:none;
	text-align:center;
	}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
	}
.btn:active {
	position:relative;
	top:1px;
	}
.btn {
	cursor: pointer; 
	cursor: hand; 
	}
.btn {
	text-align:center;
	}
/* #button_form{
	text-align:center;
	margin-left:5px;
	} */
/* #table1 {
	text-align:center;
	margin-top:82px;
	margin-left:5px;
	width:178px;
	border-style:double;
	border-color:#80b5ea;
	border-spacing:5px;	
	} */
/* #table2{
	width:178px;
	margin-top:82px;
	margin-left:5px;
	text-align:center;
	border-style:double;
	border-color:#80b5ea;
	border-spacing:5px;
	}
#table3{
	margin-top:82px;
	margin-left:5px;
	text-align:center;
	border-style:double;
	border-color:#80b5ea;
	border-spacing:5px;
	} */
